In [ ]:
# Print is used to see some answers
# In jupyter notebook we no need to provide print statement in order to see answer
# If more than two answer are there we can check all answers using print statement

In [1]:
a=10
a

10

In [2]:
print(a)

10

In [3]:
a=10
b=20
a
b

# Here only provide the output of b

20

In [13]:
a=10
b=20
print(a)
print(b)

# print is used to provide the output of both a and b

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [6]:
num1=20
num2=30
add=num1+num2
print(add)
# the addition of 20 and 30 is 50

50

In [8]:
num1=20
num2=30
add=num1+num2
print(num1+num2)
print(add)
print(add=num1+num2)

50
50

TypeError: 'add' is an invalid keyword argument for print()

In [20]:
num1=200
num2=500
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)

the addition of 200 and 500 is 700

In [21]:
num1=5
num2=2
multiplication=num1*num2
print("the multiplication of",num1,'and',num2,'is',multiplication)

the multiplication of 5 and 2 is 10

In [24]:
name='python'
age=10
city='hyd'
print("hello my name is",name,",""i'm ",age,"years old","from",city)
# hello my name is python, i'm 10 years old from hyd

hello my name is python ,i'm  10 years old from hyd

In [35]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print("the average of",num1,',',num2,'and',num3,'is',avg)

the average of 100 , 200 and 300 is 200.0

**format**

In [27]:
num1=200
num2=500
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 200 and 500 is 700
the addition of 200 and 500 is 700

In [30]:
num1=5
num2=2
multiplication=num1*num2
print("The multiplication of {} and {} is {}".format(num1,num2,multiplication))

The multiplication of 5 and 2 is 10

In [31]:
name='python'
age=10
city='hyd'
print("Hello my name is {}, i'm {} years old from {}".format(name,age,city))

Hello my name is python, i'm 10 years old from hyd

- First decide how the print stetement should be

- Then replace the variables position with curly braces

- Then apply .format method

In [33]:
name='Saswati'
age=21
university='centurion university'
city='Jajpur, Odisha'
print("my name is {}, i'm {} years old and now i'm studying in {}. i'm from {}".format(name,age,university,city))

my name is Saswati, i'm 21 years old and now i'm studying in centurion university. i'm from Jajpur, Odisha

In [34]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print("the average of {}, {} and {} is {}".format(num1,num2,num3,avg))

the average of 100, 200 and 300 is 200.0

In [44]:
num1=12
num2=22
num3=36
avg=(num1+num2+num3)/3
print("the average of {}, {} and {} is {}".format(num1,num2,num3,avg))
round(avg,2)

the average of 12, 22 and 36 is 23.333333333333332

23.33

In [48]:
val=23.333333333333332
round(val)

23

In [49]:
num1=12
num2=22
num3=36
avg=round((num1+num2+num3)/3)
print("the average of {}, {} and {} is {}".format(num1,num2,num3,avg))

the average of 12, 22 and 36 is 23

**f string method**

- Variables inside the curly braces

- and write everything inside the quotes

- at starting simply add f

In [51]:
num1=200
num2=500
add=num1+num2
print(f"the addition of {num1} and {num2} is: {add}")

the addition of 200 and 500 is: 700

In [54]:
num1=12
num2=22
num3=36
avg=round((num1+num2+num3)/3)
print(f"the average of {num1}, {num2} and {num3} is: {avg}")

the average of 12, 22 and 36 is: 23

In [55]:
name='python'
age=10
city='hyd'
print(f"Hello my name is {name}, i'm {age} years of old from {city}")

Hello my name is python, i'm 10 years of old from hyd

f string method is the best for real time

In [56]:
num1=200
num2=500
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)

num1=200
num2=500
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

num1=200
num2=500
add=num1+num2
print(f"the addition of {num1} and {num2} is: {add}")

the addition of 200 and 500 is 700
the addition of 200 and 500 is 700
the addition of 200 and 500 is: 700

In [59]:
print('hello',end=' ')   #1
print('good morning')    #2

# hello good morning
# to join multiple statence we use end

hello good morning

In [66]:
print(1,end=' ')
print(2,end=' ')
print(3)

#1 2 3

1 2 3

**sep**

- one print statement only

- Inside one print sentence we have multiple values

- I want to separate these multiple values with anything

In [70]:
print('hello','hai',sep=' & ')
# hello & hai

hello & hai

In [71]:
print(1,2,3,'.')

1 2 3 .

In [73]:
print(1,2,3,'.',sep='')

123.

In [74]:
print(1, 2,end=' ')
print(3,'.',sep='')

1 2 3.