## variables

- Variable is used to store a value

- Variables can change their values

- In python latest value will be consider

- Python is a step by step process

In [3]:
num=10
num

# comment
# value 10 stored in variable called 'num'

10

In [4]:
NUM=10
NUM

10

In [5]:
NUMber=100
NUMber

100

In [ ]:
# whenever you run
# new cell will be created

# shift+enter

In [6]:
number=100

In [7]:
number

100

In [10]:
# num=10
# NUM=10
# NUMber=100

In [11]:
number123=300
number123

300

In [15]:
123saswati=100
123saswati

SyntaxError: invalid decimal literal (2337568578.py, line 1)

In [17]:
mama

NameError: name 'mama' is not defined

In [18]:
mama=100

In [19]:
mama

100

In [20]:
number@one=1
number@one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3649041288.py, line 1)

In [21]:
number one=1
number one

SyntaxError: invalid syntax (1103776505.py, line 1)

In [22]:
number_one=200
number_one

200

In [23]:
_=800
_

800

In [24]:
if=700
if

SyntaxError: invalid syntax (3092338201.py, line 1)

In [25]:
while=600
while

SyntaxError: invalid syntax (3456208707.py, line 1)

In [26]:
s_a_s_w_a_t_i=300
s_a_s_w_a_t_i

300

- Variables are case sensitive

- variables can be capital letters or small letters

- variables does not allow special characters except only underscore

- only underscore can be a variable

- variables does not contain any space between the words

- variables can not contain number as prefix ex:123num

- variables can have number as suffix ex: num123

- variable does not contain any keywords