**Dictionary**

- Dictionary is represents with curly braces

- Strings using quotes

- List using square brackets

- Tuple using parnatheses

- Dictionary is always a pair key and value

In [3]:
name=['Manish','Subham','Govindh']
age=[25,20,15]
for i,j in zip(name,age):
    print(f'The {i} age is {j}')

The Manish age is 25
The Subham age is 20
The Govindh age is 15

In [4]:
list(zip(name,age))

[('Manish', 25), ('Subham', 20), ('Govindh', 15)]

In [ ]:
# syntax of dictionary
{<key>:<value>}

In [2]:
D={'Manish':25,'Subham':20,'Govindh':15}
D

{'Manish': 25, 'Subham': 20, 'Govindh': 15}

In [ ]:
# keys are : 'Manish','Subham','Govindh'
# values are : 25,20,15
# Manish and 25 together called key-value pair

In [3]:
type(D)

dict

In [ ]:
d1={'Manish':25,'Subham':20,'Govindh':15}       # works
d2={'Manish':'25','Subham':'20','Govindh':'15'} # works
d3={25:'Manish',20:'Subham',15:'Govindh'}       # works
d4={25:50}    # works
d5={'Fruites':['Apple','cherry']}  # works
d6={['Apple','cherry']:'Fruites'}  # not works
d7={'Ajay':25,'Ajay':30}    # works
d8={25:'Ajay',30:'Ajay'}    # works

In [4]:
d1={'Manish':25,'Subham':20,'Govindh':15}
d1

{'Manish': 25, 'Subham': 20, 'Govindh': 15}

In [5]:
d2={'Manish':'25','Subham':'20','Govindh':'15'}
d2

{'Manish': '25', 'Subham': '20', 'Govindh': '15'}

In [6]:
d3={25:'Manish',20:'Subham',15:'Govindh'} 
d3

{25: 'Manish', 20: 'Subham', 15: 'Govindh'}

In [7]:
d4={25:50}  
d4

{25: 50}

In [8]:
d5={'Fruites':['Apple','cherry']}  
d5

{'Fruites': ['Apple', 'cherry']}

In [9]:
d6={['Apple','cherry']:'Fruites'}
d6

# because of key value

TypeError: unhashable type: 'list'

In [13]:
d6={('Apple','cherry'):'Fruites'}
d6

# but in tuple it works

{('Apple', 'cherry'): 'Fruites'}

In [11]:
d7={'Ajay':25,'Ajay':30}
d7

{'Ajay': 30}

In [14]:
d7={'Ajay':30,'Ajay':25}
d7

{'Ajay': 25}

In [12]:
d8={25:'Ajay',30:'Ajay'}
d8

{25: 'Ajay', 30: 'Ajay'}

In [15]:
d9={25:'Ajay',30:
    {'Fruites':['Apple']}
   }
d9

# dictionary inside dictionary

{25: 'Ajay', 30: {'Fruites': ['Apple']}}

- **Keys are important**

- Keys have only latest value

- No duplicate keys

- Keys should be only one

- Values can be duplicate

- which means different keys can have same value

- List can not be a key

- tuple can be a key

In [ ]:
- min

- max

- len

- sorted

- reversed

In [16]:
dict1={'Cat':45,'Apple':78,'Saswati':28,'Jasmin':93}
dict1

{'Cat': 45, 'Apple': 78, 'Saswati': 28, 'Jasmin': 93}

In [19]:
min(dict1)

'Apple'

In [20]:
max(dict1)

'Saswati'

In [21]:
len(dict1)

4

In [22]:
sorted(dict1)

['Apple', 'Cat', 'Jasmin', 'Saswati']

In [23]:
reversed(dict1)

In [32]:
for i in dict1:
    print(i,dict1[i])

Cat 45
Apple 78
Saswati 28
Jasmin 93

**indexing**

In [25]:
d1={'Manish':25,'Subham':20,'Govindh':15}
d1[0]

# in dictionary indexing like this fails so we have to call the keys

KeyError: 0

In [26]:
d1={'Manish':25,'Subham':20,'Govindh':15}
d1['Manish']

25

**Keys are important**

- Dictionary is a **key-value** pair

- There is no concept of index as numbers

- If you want to retrive any value, we need to provide key as index

- we can access values using only correspoing **Keys**

In [27]:
d1={'Manish':25,'Subham':20,'Govindh':15}
print(d1['Manish'])
print(d1['Subham'])
print(d1['Govindh'])

# print(d1[i])

25
20
15

In [29]:
for i in d1:
    print(i,d1[i])

Manish 25
Subham 20
Govindh 15

In [30]:
for i in d1:
    print(f'{i} age is {d1[i]}')

Manish age is 25
Subham age is 20
Govindh age is 15

In [33]:
# How to access the elements
d1={'Fruites':['Apple']}
d1['Fruites'][0]

'Apple'

In [36]:
d1={'Fruites':{'Apple':['Kashmir']}}
d1['Fruites']['Apple'][0]

'Kashmir'

In [7]:
d1={'Fruites':[{'Apple':{'Kashmir':['India']}}]}
d1['Fruites'][0]['Apple']['Kashmir'][0]

'India'

In [37]:
len(d1)

1

In [41]:
d1={'Fruites':{'Apple':[
                     {'Kashmir':'india'}
                     ]
              }
   }
d1['Fruites']['Apple'][0]['Kashmir']

'india'

In [46]:
d1={'Fruites':{'Apple':[
                     {'Kashmir':'india'},
                     {'Hyd':'TS'}
                     ]
              }
   }

d1['Fruites']['Apple'][1]['Hyd']

'TS'

In [56]:
d1={'Fruites':{'Mango':{'Benganpalli':{'Nagpur market':{'MH':{'Shivaji':'the boss'}}}}}}
d1

{'Fruites': {'Mango': {'Benganpalli': {'Nagpur market': {'MH': {'Shivaji': 'the boss'}}}}}}

In [5]:
d1={'Fruites':{'Benganpalli':{'Mango':{'Nagpur':{'MH':{'Shivaji':'Shambaji'}}}}}}
d1['Fruites']['Benganpalli']['Mango']['Nagpur']['MH']['Shivaji']

'Shambaji'

In [48]:
len(d1)

1

In [58]:
d1['Fruites']['Mango']['Benganpalli']['Nagpur market']['MH']['Shivaji']

'the boss'

**How to create empty dictionary**

- It is very important to know how to make empty list

- how to make empty string

- how to make empty dictionary

In [59]:
# creating empty string
str1='python'
str2=''
for i in str1:
    str2=str2+i       # str2+=i
str2

'python'

In [61]:
# creating empty list
list1=[1,2,3,4]
list2=[]
for i in list1:
    list2.append(i)       
list2

[1, 2, 3, 4]

In [68]:
# creating empty dictionary
d={}
d['Ramesh']=50
d

{'Ramesh': 50}

In [69]:
d={}
d['Ramesh']=50
d['Suresh']=100
d['Satish']=150
d['Manish']=200
d

{'Ramesh': 50, 'Suresh': 100, 'Satish': 150, 'Manish': 200}

**split : Convert string to list**

In [72]:
str1='hai how are you'
l=str1.split()
l

['hai', 'how', 'are', 'you']

**Word frequency**

In [ ]:
s='hello hai hai how how are you'

**join : Convert list to string**

In [76]:
l=['hai', 'how', 'are', 'you']
new_str=' '.join(l)
new_str

'hai how are you'

**We have two list to convert into dictionaty**

In [77]:
name=['Ramesh','Suresh','Manish']
age=[25,30,35]
d={}
for i,j in zip(name,age):
    d[i]=j

d

{'Ramesh': 25, 'Suresh': 30, 'Manish': 35}

**Methods**

In [ ]:
# String
dir('')

# list
dir([])

# dictionaty
dir({})

# tuple
dir(())

In [78]:
# dictionary
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**clear**

- Remove all items from Dictionaty

In [80]:
d1={'Manish':25,'Subham':20,'Govindh':15}
d1.clear()
d1

{}

**copy**

- a shallow copy of Dictionary

In [82]:
d2={'Cat':45,'Apple':78,'Saswati':28,'Jasmin':93}
d2.copy()
d2

{'Cat': 45, 'Apple': 78, 'Saswati': 28, 'Jasmin': 93}

**fromkeys**

- Create a new dictionary with keys from iterable and values set to value

In [94]:
d2={'Cat':45,'Apple':78,'Saswati':28,'Jasmin':93}
d2.fromkeys(d2)
d2

{'Cat': 45, 'Apple': 78, 'Saswati': 28, 'Jasmin': 93}

**get**

- Return the value for key if key is in the dictionary, else default

In [102]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'}
dict=d3.get('Cars')
dict

'Audi'

**items**

- a set-like object providing a view on D's items

In [104]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'}
dict=d3.items()
dict

dict_items([('Fruites', 'Apple'), ('Cars', 'Audi'), ('Animal', 'Tiger')])

**keys**

- a set-like object providing a view on D's keys

In [105]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'}
dict=d3.keys()
dict

dict_keys(['Fruites', 'Cars', 'Animal'])

**pop**

- remove specified key and return the corresponding value

In [108]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'}
d3.pop('Cars')
d3

{'Fruites': 'Apple', 'Animal': 'Tiger'}

**popitem**

- Remove and return a (key, value) pair as a 2-tuple

In [109]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'}
d3.popitem()
d3

{'Fruites': 'Apple', 'Cars': 'Audi'}

**setdefault**

- Insert key with a value of default if key is not in the dictionary

In [113]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'}
d3.setdefault('Fruites','Orange')
d3

{'Fruites': 'Apple', 'Cars': 'Audi', 'Animal': 'Tiger'}

**update**

In [120]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'} 
d3.update({'Flower':'Lotus'}) 
d3

{'Fruites': 'Apple', 'Cars': 'Audi', 'Animal': 'Tiger', 'Flower': 'Lotus'}

**values**

- an object providing a view on D's values

In [122]:
d3={'Fruites':'Apple','Cars':'Audi','Animal':'Tiger'} 
dict=d3.values() 
dict

dict_values(['Apple', 'Audi', 'Tiger'])

**items-keys-values**

- items means both keys and values come together

- keys means only dictionary keys

- values means only dictionary keys

In [125]:
d={'Ramesh': 50, 'Suresh': 100, 'Satish': 150, 'Manish': 200}
it=d.items()
it

dict_items([('Ramesh', 50), ('Suresh', 100), ('Satish', 150), ('Manish', 200)])

In [126]:
type(it)

dict_items

In [132]:
item_list=list(it)
item_list

[('Ramesh', 50), ('Suresh', 100), ('Satish', 150), ('Manish', 200)]

In [135]:
for i in item_list:
    print(i)

('Ramesh', 50)
('Suresh', 100)
('Satish', 150)
('Manish', 200)

In [136]:
name=[]
age=[]
for i in item_list:
    print(i[0],i[1])
    name.append(i[0])
    age.append(i[1])

Ramesh 50
Suresh 100
Satish 150
Manish 200

In [137]:
name=[]
age=[]
for i in item_list:
    name.append(i[0])
    age.append(i[1])

name

['Ramesh', 'Suresh', 'Satish', 'Manish']

**Create a list using items**

In [ ]:
d={'Ramesh': 50, 'Suresh': 100, 'Satish': 150, 'Manish': 200}
it=d.items()     # items
item_list=list(it)     # list type
name=[]
age=[]
for i in item_list:
    name.append(i[0])
    age.append(i[1])

name

In [145]:
import string
dir(string)
# step-1 : Create a lowercase letters list using string package
# step-2 : Create a digit list 1 to 26
# step-3 : Create a dictionary {'a':1,'b':2........'z':26}
# step-4 : enter a string: hai
# step-5 : output: 8-1-9

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [2]:
a,b=10
a,b

TypeError: cannot unpack non-iterable int object

In [3]:
a=10,20
a

(10, 20)

In [4]:
a,b=10,20

In [5]:
a,b

(10, 20)